h1{
    color : red;
    text-align: center;
    text-decoration: underline;
    border-style : dashed;
}

p{
    color: blue;
    background-color:chartreuse;
    font-weight: bolder;
    font-family: Georgia, 'Times New Roman', Times, serif;
}

div{
    background-color: aquamarine;
}

* {
    background-color: rgb(142, 165, 42);
    
}

.greet{
    color: rgb(42, 52, 165);
}
    

#myId{
    color: rgb(241, 17, 193);

    font-size: larger;
    background-color: bisque;
}
